.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.section__title {
    font-size: 30px;
    font-family: "Besley", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;
    color: #8b7969;
}

.search-form {
    display: flex;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.search-form__item {
    display: flex;
    width: 70%;
}

.search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-form__item-select {
    margin-right: 10px;
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.search-form__item-input--date {
    margin-right: 10px;
    padding: 10px;
    width: 40%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.search-form__button {
    width: 12%;
}
/* 
.search-form__button--contact {
    width: 7%;
    display: inline-block;
}
.search-form__button-submit--contact {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
} */
.search-form__link--contact{
    width: 7%;
    display: inline-block;
    
}
.search-form__link-submit--contact {
    padding: 6px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.search-form__link{
    width: 12%;
    margin-left: 10px;
}

.search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.search-form__link-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.contacts-table {
    margin: 30px auto;
    width: 90%;
    text-align: left;
}

.contacts-table__inner {
    width: 100%;
}

.contacts-table__row {
    border-bottom: 1px solid #ddd;
}

.contacts-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.contacts-table__header-span--name {
    margin-right: 14%;
}
.contacts-table__header-span--gender {
    margin-right: 6%;
}
.contacts-table__header-span--email {
    margin-right: 17%;
}

.contacts-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}
.contacts-form__item-input--name{
    width: 20%;
    outline: none;
    border: none;
}
.contacts-form__item-input--gender{
    width: 10%;
    outline: none;
    border: none;
}
.contacts-form__item-input{
    width: 30%;
    outline: none;
    border: none;
}
.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}
/* modal */
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}

.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
    max-height: 80vh;
    overflow-y: auto;
    text-align: left
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    color: #95979c !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
}

.modal-wrapper .modal-close:hover {
    color: #2b2e38 !important
}
/*  */
/* modal-content css */
/*  */

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

/* ラジオボタン */
label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

label::before,
label::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

label::before {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 5px;
}

label::after {
    background-color: #ddd;
    border-radius: 50%;
    opacity: 0;
    width: 16px;
    height: 16px;
    left: 7px
}

input:checked+label::after {
    opacity: 1;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
}
/* エクスポートボタン */
.export-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.export__btn {
    background-color: #E1DBD6;
    color: #8B7969;
    font-weight: 400;
}